In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
player_stats_df = pd.read_csv('./data/2022-2023_EPL_Player_Statistics.csv')
player_stats_df

,Unnamed: 0,Rank,Name,Team,Age,Position,Apps,Mins,Goals,Assists,Yellow,Red,SpG,PS,Aerialswon,MotM,Rating
0,0,1,Kevin De Bruyne,Man City,32,"M(CLR),FW",28(4),2425,7,16,1,-,2,80.8,0.4,9,7.58
1,1,2,Erling Haaland,Man City,23,FW,33(2),2779,36,8,5,-,3.5,74.8,1.4,6,7.54
2,2,3,Harry Kane,Tottenham,30,"AM(C),FW",38,3408,30,3,6,-,3.4,72.0,1.7,8,7.51
3,3,4,Bruno Fernandes,Man Utd,29,M(CLR),37,3320,8,8,6,-,2.5,77.7,0.5,6,7.44
4,4,5,Gabriel Jesus,Arsenal,27,"AM(LR),FW",24(2),2075,11,6,6,-,3,81.5,1.7,4,7.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303,303,304,Dennis Praet,Leicester,29,AM(CR),6(16),641,1,-,1,-,0.2,77.8,-,-,6.19
304,304,305,Jean-Philippe Mateta,Crystal Palace,26,FW,6(23),754,2,-,3,-,0.9,70.5,0.9,-,6.17
305,305,306,Flynn Downes,West Ham,25,M(C),7(14),758,-,-,2,-,0.2,88.4,0.4,-,6.13
306,306,307,Tom Davies,Everton,25,M(C),4(15),530,-,-,3,-,0.5,74.8,0.4,-,6.12
307,307,308,Sam Surridge,Nottingham Forest,25,FW,1(19),308,1,-,2,-,0.5,51.9,0.7,-,6.09

In [3]:
player_stats_df = player_stats_df.drop('Unnamed: 0', axis=1)
player_stats_df

,Rank,Name,Team,Age,Position,Apps,Mins,Goals,Assists,Yellow,Red,SpG,PS,Aerialswon,MotM,Rating
0,1,Kevin De Bruyne,Man City,32,"M(CLR),FW",28(4),2425,7,16,1,-,2,80.8,0.4,9,7.58
1,2,Erling Haaland,Man City,23,FW,33(2),2779,36,8,5,-,3.5,74.8,1.4,6,7.54
2,3,Harry Kane,Tottenham,30,"AM(C),FW",38,3408,30,3,6,-,3.4,72.0,1.7,8,7.51
3,4,Bruno Fernandes,Man Utd,29,M(CLR),37,3320,8,8,6,-,2.5,77.7,0.5,6,7.44
4,5,Gabriel Jesus,Arsenal,27,"AM(LR),FW",24(2),2075,11,6,6,-,3,81.5,1.7,4,7.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303,304,Dennis Praet,Leicester,29,AM(CR),6(16),641,1,-,1,-,0.2,77.8,-,-,6.19
304,305,Jean-Philippe Mateta,Crystal Palace,26,FW,6(23),754,2,-,3,-,0.9,70.5,0.9,-,6.17
305,306,Flynn Downes,West Ham,25,M(C),7(14),758,-,-,2,-,0.2,88.4,0.4,-,6.13
306,307,Tom Davies,Everton,25,M(C),4(15),530,-,-,3,-,0.5,74.8,0.4,-,6.12
307,308,Sam Surridge,Nottingham Forest,25,FW,1(19),308,1,-,2,-,0.5,51.9,0.7,-,6.09

In [4]:
player_stats_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 308 entries, 0 to 307
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Rank        308 non-null    int64
 1   Name        308 non-null    object
 2   Team        308 non-null    object
 3   Age         308 non-null    int64
 4   Position    308 non-null    object
 5   Apps        308 non-null    object
 6   Mins        308 non-null    int64
 7   Goals       308 non-null    object
 8   Assists     308 non-null    object
 9   Yellow      308 non-null    object
 10  Red         308 non-null    object
 11  SpG         308 non-null    object
 12  PS          308 non-null    float64
 13  Aerialswon  308 non-null    object
 14  MotM        308 non-null    object
 15  Rating      308 non-null    float64
dtypes: float64(2), int64(3), object(11)
memory usage: 38.6+ KB

In [6]:
# '-'로 된 결측치를 np.nan으로 바꿔준다.
player_stats_df = player_stats_df.replace('-', np.nan)
player_stats_df

,Rank,Name,Team,Age,Position,Apps,Mins,Goals,Assists,Yellow,Red,SpG,PS,Aerialswon,MotM,Rating
0,1,Kevin De Bruyne,Man City,32,"M(CLR),FW",28(4),2425,7,16,1,NaN,2,80.8,0.4,9,7.58
1,2,Erling Haaland,Man City,23,FW,33(2),2779,36,8,5,NaN,3.5,74.8,1.4,6,7.54
2,3,Harry Kane,Tottenham,30,"AM(C),FW",38,3408,30,3,6,NaN,3.4,72.0,1.7,8,7.51
3,4,Bruno Fernandes,Man Utd,29,M(CLR),37,3320,8,8,6,NaN,2.5,77.7,0.5,6,7.44
4,5,Gabriel Jesus,Arsenal,27,"AM(LR),FW",24(2),2075,11,6,6,NaN,3,81.5,1.7,4,7.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303,304,Dennis Praet,Leicester,29,AM(CR),6(16),641,1,NaN,1,NaN,0.2,77.8,NaN,NaN,6.19
304,305,Jean-Philippe Mateta,Crystal Palace,26,FW,6(23),754,2,NaN,3,NaN,0.9,70.5,0.9,NaN,6.17
305,306,Flynn Downes,West Ham,25,M(C),7(14),758,NaN,NaN,2,NaN,0.2,88.4,0.4,NaN,6.13
306,307,Tom Davies,Everton,25,M(C),4(15),530,NaN,NaN,3,NaN,0.5,74.8,0.4,NaN,6.12
307,308,Sam Surridge,Nottingham Forest,25,FW,1(19),308,1,NaN,2,NaN,0.5,51.9,0.7,NaN,6.09

In [7]:
player_stats_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 308 entries, 0 to 307
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Rank        308 non-null    int64
 1   Name        308 non-null    object
 2   Team        308 non-null    object
 3   Age         308 non-null    int64
 4   Position    308 non-null    object
 5   Apps        308 non-null    object
 6   Mins        308 non-null    int64
 7   Goals       211 non-null    object
 8   Assists     211 non-null    object
 9   Yellow      280 non-null    object
 10  Red         22 non-null     object
 11  SpG         286 non-null    object
 12  PS          308 non-null    float64
 13  Aerialswon  306 non-null    object
 14  MotM        151 non-null    object
 15  Rating      308 non-null    float64
dtypes: float64(2), int64(3), object(11)
memory usage: 38.6+ KB

In [8]:
player_stats_df.isna().sum()

Rank            0
Name            0
Team            0
Age             0
Position        0
Apps            0
Mins            0
Goals          97
Assists        97
Yellow         28
Red           286
SpG            22
PS              0
Aerialswon      2
MotM          157
Rating          0
dtype: int64

In [10]:
player_stats_df.replace(np.nan, '0')

,Rank,Name,Team,Age,Position,Apps,Mins,Goals,Assists,Yellow,Red,SpG,PS,Aerialswon,MotM,Rating
0,1,Kevin De Bruyne,Man City,32,"M(CLR),FW",28(4),2425,7,16,1,0,2,80.8,0.4,9,7.58
1,2,Erling Haaland,Man City,23,FW,33(2),2779,36,8,5,0,3.5,74.8,1.4,6,7.54
2,3,Harry Kane,Tottenham,30,"AM(C),FW",38,3408,30,3,6,0,3.4,72.0,1.7,8,7.51
3,4,Bruno Fernandes,Man Utd,29,M(CLR),37,3320,8,8,6,0,2.5,77.7,0.5,6,7.44
4,5,Gabriel Jesus,Arsenal,27,"AM(LR),FW",24(2),2075,11,6,6,0,3,81.5,1.7,4,7.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303,304,Dennis Praet,Leicester,29,AM(CR),6(16),641,1,0,1,0,0.2,77.8,0,0,6.19
304,305,Jean-Philippe Mateta,Crystal Palace,26,FW,6(23),754,2,0,3,0,0.9,70.5,0.9,0,6.17
305,306,Flynn Downes,West Ham,25,M(C),7(14),758,0,0,2,0,0.2,88.4,0.4,0,6.13
306,307,Tom Davies,Everton,25,M(C),4(15),530,0,0,3,0,0.5,74.8,0.4,0,6.12
307,308,Sam Surridge,Nottingham Forest,25,FW,1(19),308,1,0,2,0,0.5,51.9,0.7,0,6.09