# 데이터 병합

In [43]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

# player데이터 병합

In [2]:
player_def_path = './BL_Player_Def/'
player_off_path = './BL_Player_Off/'
player_pass_path = './BL_Player_Pass/'
player_summary_path = './BL_Player_Summary/'

In [20]:
player_def_path_list = os.listdir(player_def_path)
player_off_path_list = os.listdir(player_off_path)
player_pass_path_list = os.listdir(player_pass_path)
player_summary_path_list = os.listdir(player_summary_path)

In [24]:
player_def_path_list.sort()
player_off_path_list.sort()
player_pass_path_list.sort()
player_summary_path_list.sort()

In [41]:
player_def_path_list

['18_19_BL_Player_Stats_def.csv',
 '19_20_BL_Player_Stats_def.csv',
 '20_21_BL_Player_Stats_def.csv',
 '21_22_BL_Player_Stats_def.csv',
 '22_23_BL_Player_Stats_def.csv']

In [30]:
player_summary_data = []
for path in player_summary_path_list:
    player_summary_data.append(pd.read_csv(player_summary_path + path))
    
player_def_data = []
for path in player_def_path_list:
    player_def_data.append(pd.read_csv(player_def_path + path))

player_off_data = []
for path in player_off_path_list:
    player_off_data.append(pd.read_csv(player_off_path + path))

player_pass_data = []
for path in player_pass_path_list:
    player_pass_data.append(pd.read_csv(player_pass_path + path))

In [32]:
for data in player_summary_data:
    data.drop('Unnamed: 0', axis=1, inplace=True)
    
for data in player_def_data:
    data.drop('Unnamed: 0', axis=1, inplace=True)
    
for data in player_off_data:
    data.drop('Unnamed: 0', axis=1, inplace=True)
    
for data in player_pass_data:
    data.drop('Unnamed: 0', axis=1, inplace=True)

In [33]:
player_merged_data_list = []

for i in range(5):
    tmp1 = pd.merge(player_summary_data[i], player_def_data[i], on='Name', how='inner')
    print(tmp1.shape)
    tmp2 = pd.merge(tmp1, player_off_data[i], on='Name', how='inner')
    print(tmp2.shape)
    tmp3 = pd.merge(tmp2, player_pass_data[i], on='Name', how='inner')
    print(tmp3.shape)
    
    player_merged_data_list.append(tmp3)

(270, 23)
(270, 31)
(270, 36)
(263, 23)
(263, 31)
(263, 36)
(285, 23)
(285, 31)
(285, 36)
(292, 23)
(292, 31)
(292, 36)
(286, 23)
(286, 31)
(286, 36)

In [34]:
player_merged_data_list[0].columns

Index(['Name', 'Team', 'Age', 'Position', 'Apps', 'Mins', 'Goals_x',
       'Assists_x', 'Yellow', 'Red', 'SpG_x', 'PS', 'Aerialswon', 'MotM',
       'Rating', 'Tackles', 'Inter', 'Fouls', 'Offsides', 'Clear', 'Drb_x',
       'Blocks', 'OwnG', 'Goals_y', 'Assists_y', 'SpG_y', 'Drb_y', 'Fouled',
       'Off', 'Disp', 'UnsTch', 'AvgP', 'PSp', 'Crosses', 'LonB', 'ThrB'],
      dtype='object')

In [37]:
for player_merged_data in player_merged_data_list:
    player_merged_data.drop(['Goals_y', 'Assists_y', 'SpG_y'], axis=1, inplace=True)

In [39]:
forplayer_ merged_data in player_merged_data_list:
    player_merged_data.columns = ['Name', 'Team', 'Age', 'Position', 'Apps', 'Mins', 'Goals',
       'Assists', 'Yellow', 'Red', 'SpG', 'PS', 'Aerialswon', 'MotM',
       'Rating', 'Tackles', 'Inter', 'Fouls', 'Offsides', 'Clear', 'Drb_def',
       'Blocks', 'OwnG', 'Drb_off', 'Fouled', 'Off', 'Disp', 'UnsTch', 'AvgP',
       'PSp', 'Crosses', 'LonB', 'ThrB']

In [42]:
player_merged_data_list[0].to_csv('18_19_BL_Player.csv')
player_merged_data_list[1].to_csv('19_20_BL_Player.csv')
player_merged_data_list[2].to_csv('20_21_BL_Player.csv')
player_merged_data_list[3].to_csv('21_22_BL_Player.csv')
player_merged_data_list[4].to_csv('22_23_BL_Player.csv')

# team 데이터 병합

In [118]:
team_def_path = './BL_Team_Def/'
team_off_path = './BL_Team_Off/'
team_table_path = './BL_Team_Table/'
team_summary_path = './BL_Team_Summary/'

In [119]:
team_def_path_list = os.listdir(team_def_path)
team_off_path_list = os.listdir(team_off_path)
team_table_path_list = os.listdir(team_table_path)
team_summary_path_list = os.listdir(team_summary_path)

In [120]:
team_def_path_list.sort()
team_off_path_list.sort()
team_table_path_list.sort()
team_summary_path_list.sort()

In [121]:
team_def_path_list

['18_19_BL_Team_Stats_defensive.csv',
 '19_20_BL_Team_Stats_defensive.csv',
 '20_21_BL_Team_Stats_defensive.csv',
 '21_22_BL_Team_Stats_defensive.csv',
 '22_23_BL_Team_Stats_defensive.csv']

In [122]:
team_summary_data = []
for path in team_summary_path_list:
    team_summary_data.append(pd.read_csv(team_summary_path + path))
    
team_def_data = []
for path in team_def_path_list:
    team_def_data.append(pd.read_csv(team_def_path + path))

team_off_data = []
for path in team_off_path_list:
    team_off_data.append(pd.read_csv(team_off_path + path))

team_table_data = []
for path in team_table_path_list:
    team_table_data.append(pd.read_csv(team_table_path + path))

In [123]:
for data in team_summary_data:
    data.drop('Unnamed: 0', axis=1, inplace=True)
    
for data in team_def_data:
    data.drop('Unnamed: 0', axis=1, inplace=True)
    
for data in team_off_data:
    data.drop('Unnamed: 0', axis=1, inplace=True)
    
for data in team_table_data:
    data.drop('Unnamed: 0', axis=1, inplace=True)

In [124]:
team_merged_data_list = []

for i in range(5):
    tmp1 = pd.merge(team_summary_data[i], team_def_data[i], on='Team', how='inner')
    print(tmp1.shape)
    tmp2 = pd.merge(tmp1, team_off_data[i], on='Team', how='inner')
    print(tmp2.shape)
    tmp3 = pd.merge(tmp2, team_table_data[i], on='Team', how='inner')
    print(tmp3.shape)
    
    team_merged_data_list.append(tmp3)

(18, 14)
(18, 18)
(17, 26)
(18, 14)
(18, 18)
(17, 26)
(18, 14)
(18, 18)
(17, 26)
(18, 14)
(18, 18)
(17, 26)
(18, 14)
(18, 18)
(17, 26)

In [125]:
for data in team_def_data:
    team_li = data['Team'].unique().tolist()
    for i in range(len(team_li)):
        if team_li[i] == 'Borussia M':
            team_li[i] = 'Borussia M.Gladbach'
            
    tmp = pd.DataFrame(team_li, columns=['Team'])
    data['Team'] = tmp

for data in team_off_data:
    team_li = data['Team'].unique().tolist()
    for i in range(len(team_li)):
        if team_li[i] == 'Borussia M':
            team_li[i] = 'Borussia M.Gladbach'
            
    tmp = pd.DataFrame(team_li, columns=['Team'])
    data['Team'] = tmp

for data in team_pass_data:
    team_li = data['Team'].unique().tolist()
    for i in range(len(team_li)):
        if team_li[i] == 'Borussia M':
            team_li[i] = 'Borussia M.Gladbach'
            
    tmp = pd.DataFrame(team_li, columns=['Team'])
    data['Team'] = tmp

In [126]:
team_summary_data[0]

,Team,Goals,Shotspg,Yellow,Red,Possession,Pass,AerialsWon,Rating
0,Bayern Munich,88,18.7,40,2,62.2,87.5,15.7,7.03
1,RB Leipzig,63,14.6,61,1,49.5,75.3,22.4,6.96
2,Borussia Dortmund,81,13.2,40,3,56.8,86.0,14.0,6.93
3,Bayer Leverkusen,69,15.2,50,1,57.7,84.4,16.6,6.88
4,Hoffenheim,70,18.0,65,2,52.8,82.0,15.9,6.87
5,Eintracht Frankfurt,60,12.4,56,3,47.6,73.1,24.6,6.83
6,Wolfsburg,62,12.5,62,0,52.5,78.6,18.9,6.81
7,Borussia M,55,13.5,43,0,52.3,84.3,13.2,6.76
8,Werder Bremen,58,13.9,58,3,51.2,80.0,18.1,6.75
9,Hertha Berlin,49,11.9,61,5,48.6,78.4,20.9,6.74
10,Mainz 05,46,14.6,56,0,46.9,77.1,19.6,6.70
11,Fortuna Duesseldorf,49,12.3,67,1,44.4,77.4,18.7,6.67
12,Schalke 04,37,12.2,71,5,46.9,76.3,18.0,6.65
13,Augsburg,51,13.4,55,1,46.8,74.5,20.0,6.65
14,Freiburg,46,12.5,51,3,45.4,78.2,16.9,6.64
15,VfB Stuttgart,32,12.0,62,5,46.8,75.7,21.9,6.57
16,Hannover 96,31,11.3,59,4,47.4,76.8,18.6,6.57
17,Nuernberg,26,10.6,57,4,44.1,76.0,19.0,6.49

In [127]:
team_merged_data_list = []

for i in range(5):
    tmp1 = pd.merge(team_table_data[i], team_summary_data[i], on='Team', how='inner')
    print(tmp1.shape)
    tmp2 = pd.merge(tmp1, team_def_data[i], on='Team', how='inner')
    print(tmp2.shape)
    tmp3 = pd.merge(tmp2, team_off_data[i], on='Team', how='inner')
    print(tmp3.shape)
    
    team_merged_data_list.append(tmp3)

(17, 17)
(17, 22)
(17, 26)
(17, 17)
(17, 22)
(17, 26)
(17, 17)
(17, 22)
(17, 26)
(17, 17)
(17, 22)
(17, 26)
(17, 17)
(17, 22)
(17, 26)

In [128]:
team_merged_data_list[0].columns

Index(['Team', 'P', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts', 'Goals', 'Shotspg',
       'Yellow', 'Red', 'Possession', 'Pass', 'AerialsWon', 'Rating',
       'def_Shotspg', 'def_Tacklespg', 'def_Interceptionspg', 'def_Foulspg',
       'def_Offsidespg', 'of_Shotspg', 'of_ShotsOTpg', 'of_Dribblespg',
       'of_Fouledpg'],
      dtype='object')

In [129]:
team_merged_data_list[0].to_csv('18_19_BL_Team.csv')
team_merged_data_list[1].to_csv('19_20_BL_Team.csv')
team_merged_data_list[2].to_csv('20_21_BL_Team.csv')
team_merged_data_list[3].to_csv('21_22_BL_Team.csv')
team_merged_data_list[4].to_csv('22_23_BL_Team.csv')