# 데이터 병합

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

# player데이터 병합

In [2]:
player_def_path = './EPL_Player_Def/'
player_off_path = './EPL_Player_Off/'
player_pass_path = './EPL_Player_Pass/'
player_summary_path = './EPL_Player_Summary/'

In [3]:
player_def_path_list = os.listdir(player_def_path)
player_off_path_list = os.listdir(player_off_path)
player_pass_path_list = os.listdir(player_pass_path)
player_summary_path_list = os.listdir(player_summary_path)

In [4]:
player_def_path_list.sort()
player_off_path_list.sort()
player_pass_path_list.sort()
player_summary_path_list.sort()

In [8]:
player_summary_path_list

['18_19_EPL_Player_Stats.csv',
 '19_20_EPL_Player_Stats.csv',
 '20_21_EPL_Player_Stats.csv',
 '21_22_EPL_Player_Stats.csv',
 '22_23_EPL_Player_Stats.csv']

In [9]:
player_summary_data = []
for path in player_summary_path_list:
    player_summary_data.append(pd.read_csv(player_summary_path + path))
    
player_def_data = []
for path in player_def_path_list:
    player_def_data.append(pd.read_csv(player_def_path + path))

player_off_data = []
for path in player_off_path_list:
    player_off_data.append(pd.read_csv(player_off_path + path))

player_pass_data = []
for path in player_pass_path_list:
    player_pass_data.append(pd.read_csv(player_pass_path + path))

In [10]:
for data in player_summary_data:
    data.drop('Unnamed: 0', axis=1, inplace=True)
    
for data in player_def_data:
    data.drop('Unnamed: 0', axis=1, inplace=True)
    
for data in player_off_data:
    data.drop('Unnamed: 0', axis=1, inplace=True)
    
for data in player_pass_data:
    data.drop('Unnamed: 0', axis=1, inplace=True)

In [11]:
player_merged_data_list = []

for i in range(5):
    tmp1 = pd.merge(player_summary_data[i], player_def_data[i], on='Name', how='inner')
    print(tmp1.shape)
    tmp2 = pd.merge(tmp1, player_off_data[i], on='Name', how='inner')
    print(tmp2.shape)
    tmp3 = pd.merge(tmp2, player_pass_data[i], on='Name', how='inner')
    print(tmp3.shape)
    
    player_merged_data_list.append(tmp3)

(281, 23)
(281, 31)
(281, 36)
(276, 23)
(276, 31)
(276, 36)
(291, 23)
(291, 31)
(291, 36)
(299, 23)
(299, 31)
(299, 36)
(308, 23)
(308, 31)
(308, 36)

In [12]:
player_merged_data_list[0].columns

Index(['Name', 'Team', 'Age', 'Position', 'Apps', 'Mins', 'Goals_x',
       'Assists_x', 'Yellow', 'Red', 'SpG_x', 'PS', 'Aerialswon', 'MotM',
       'Rating', 'Tackles', 'Inter', 'Fouls', 'Offsides', 'Clear', 'Drb_x',
       'Blocks', 'OwnG', 'Goals_y', 'Assists_y', 'SpG_y', 'Drb_y', 'Fouled',
       'Off', 'Disp', 'UnsTch', 'AvgP', 'PSp', 'Crosses', 'LonB', 'ThrB'],
      dtype='object')

In [13]:
for player_merged_data in player_merged_data_list:
    player_merged_data.drop(['Goals_y', 'Assists_y', 'SpG_y'], axis=1, inplace=True)

In [15]:
for player_merged_data in player_merged_data_list:
    player_merged_data.columns = ['Name', 'Team', 'Age', 'Position', 'Apps', 'Mins', 'Goals',
       'Assists', 'Yellow', 'Red', 'SpG', 'PS', 'Aerialswon', 'MotM',
       'Rating', 'Tackles', 'Inter', 'Fouls', 'Offsides', 'Clear', 'Drb_def',
       'Blocks', 'OwnG', 'Drb_off', 'Fouled', 'Off', 'Disp', 'UnsTch', 'AvgP',
       'PSp', 'Crosses', 'LonB', 'ThrB']

In [16]:
player_merged_data_list[0].to_csv('18_19_EPL_Player.csv')
player_merged_data_list[1].to_csv('19_20_EPL_Player.csv')
player_merged_data_list[2].to_csv('20_21_EPL_Player.csv')
player_merged_data_list[3].to_csv('21_22_EPL_Player.csv')
player_merged_data_list[4].to_csv('22_23_EPL_Player.csv')

# team 데이터 병합

In [4]:
team_def_path = './EPL_Team_Def/'
team_off_path = './EPL_Team_Off/'
team_table_path = './EPL_Team_Table/'
team_summary_path = './EPL_Team_Summary/'

In [5]:
team_def_path_list = os.listdir(team_def_path)
team_off_path_list = os.listdir(team_off_path)
team_table_path_list = os.listdir(team_table_path)
team_summary_path_list = os.listdir(team_summary_path)

In [6]:
team_def_path_list.sort()
team_off_path_list.sort()
team_table_path_list.sort()
team_summary_path_list.sort()

In [7]:
team_def_path_list

['18_19_EPL_Team_Stats_defensive.csv',
 '19_20_EPL_Team_Stats_defensive.csv',
 '20_21_EPL_Team_Stats_defensive.csv',
 '21_22_EPL_Team_Stats_defensive.csv',
 '22_23_EPL_Team_Stats_defensive.csv']

In [8]:
team_summary_data = []
for path in team_summary_path_list:
    team_summary_data.append(pd.read_csv(team_summary_path + path))
    
team_def_data = []
for path in team_def_path_list:
    team_def_data.append(pd.read_csv(team_def_path + path))

team_off_data = []
for path in team_off_path_list:
    team_off_data.append(pd.read_csv(team_off_path + path))

team_table_data = []
for path in team_table_path_list:
    team_table_data.append(pd.read_csv(team_table_path + path))

In [9]:
for data in team_summary_data:
    data.drop('Unnamed: 0', axis=1, inplace=True)
    
for data in team_def_data:
    data.drop('Unnamed: 0', axis=1, inplace=True)
    
for data in team_off_data:
    data.drop('Unnamed: 0', axis=1, inplace=True)
    
for data in team_table_data:
    data.drop('Unnamed: 0', axis=1, inplace=True)

In [10]:
team_merged_data_list = []

for i in range(5):
    tmp1 = pd.merge(team_summary_data[i], team_def_data[i], on='Team', how='inner')
    print(tmp1.shape)
    tmp2 = pd.merge(tmp1, team_off_data[i], on='Team', how='inner')
    print(tmp2.shape)
    tmp3 = pd.merge(tmp2, team_table_data[i], on='Team', how='inner')
    print(tmp3.shape)
    
    team_merged_data_list.append(tmp3)

(20, 14)
(20, 18)
(20, 26)
(20, 14)
(20, 18)
(20, 26)
(20, 14)
(20, 18)
(20, 26)
(20, 14)
(20, 18)
(20, 26)
(20, 14)
(20, 18)
(20, 26)

In [11]:
for data in team_def_data:
    team_li = data['Team'].unique().tolist()
    for i in range(len(team_li)):
        if team_li[i] == 'Borussia M':
            team_li[i] = 'Borussia M.Gladbach'
            
    tmp = pd.DataFrame(team_li, columns=['Team'])
    data['Team'] = tmp

for data in team_off_data:
    team_li = data['Team'].unique().tolist()
    for i in range(len(team_li)):
        if team_li[i] == 'Borussia M':
            team_li[i] = 'Borussia M.Gladbach'
            
    tmp = pd.DataFrame(team_li, columns=['Team'])
    data['Team'] = tmp

for data in team_pass_data:
    team_li = data['Team'].unique().tolist()
    for i in range(len(team_li)):
        if team_li[i] == 'Borussia M':
            team_li[i] = 'Borussia M.Gladbach'
            
    tmp = pd.DataFrame(team_li, columns=['Team'])
    data['Team'] = tmp

NameError: name 'team_pass_data' is not defined

In [12]:
team_summary_data[0]

,Team,Goals,Shotspg,Yellow,Red,Possession,Pass,AerialsWon,Rating
0,Manchester City,95,18.0,44,1,25.7,89.0,14.3,7.09
1,Liverpool,89,15.1,37,2,58.8,84.4,16.0,7.01
2,Chelsea,63,16.0,49,0,20.3,87.6,14.0,6.89
3,Tottenham,67,14.1,56,3,56.7,83.2,16.1,6.86
4,Arsenal,73,12.3,72,2,27.0,83.3,14.9,6.79
5,Leicester,51,13.6,57,5,50.8,79.2,21.5,6.78
6,Crystal Palace,51,13.0,58,2,46.6,76.8,18.1,6.78
7,West Ham,52,11.6,59,1,49.0,78.7,16.9,6.77
8,Everton,54,13.1,55,4,51.0,77.3,23.5,6.77
9,Wolves,47,12.6,72,1,47.4,78.2,21.6,6.75
10,Newcastle,42,11.7,57,2,42.9,72.9,21.2,6.74
11,Manchester United,65,13.8,73,4,53.3,82.3,18.3,6.74
12,Burnley,45,9.5,75,1,17.9,70.3,27.6,6.70
13,Southampton,45,12.7,71,3,45.4,74.0,20.4,6.68
14,Watford,52,11.5,77,4,47.4,76.1,20.3,6.68
15,Bournemouth,56,11.7,60,1,47.7,78.1,18.8,6.68
16,Cardiff,34,11.0,66,1,39.1,63.9,25.8,6.62
17,Brighton,35,9.8,60,4,44.1,74.8,22.0,6.61
18,Fulham,34,11.9,68,2,49.2,80.3,19.7,6.56
19,Huddersfield,22,10.6,55,4,47.1,75.8,22.6,6.47

In [13]:
team_merged_data_list = []

for i in range(5):
    tmp1 = pd.merge(team_table_data[i], team_summary_data[i], on='Team', how='inner')
    print(tmp1.shape)
    tmp2 = pd.merge(tmp1, team_def_data[i], on='Team', how='inner')
    print(tmp2.shape)
    tmp3 = pd.merge(tmp2, team_off_data[i], on='Team', how='inner')
    print(tmp3.shape)
    
    team_merged_data_list.append(tmp3)

(20, 17)
(20, 22)
(20, 26)
(20, 17)
(20, 22)
(20, 26)
(20, 17)
(20, 22)
(20, 26)
(20, 17)
(20, 22)
(20, 26)
(20, 17)
(20, 22)
(20, 26)

In [14]:
team_merged_data_list[0].columns

Index(['Team', 'P', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts', 'Goals', 'Shotspg',
       'Yellow', 'Red', 'Possession', 'Pass', 'AerialsWon', 'Rating',
       'def_Shotspg', 'def_Tacklespg', 'def_Interceptionspg', 'def_Foulspg',
       'def_Offsidespg', 'of_Shotspg', 'of_ShotsOTpg', 'of_Dribblespg',
       'of_Fouledpg'],
      dtype='object')

In [16]:
team_merged_data_list[0].to_csv('18_19_EPL_Team.csv')
team_merged_data_list[1].to_csv('19_20_EPL_Team.csv')
team_merged_data_list[2].to_csv('20_21_EPL_Team.csv')
team_merged_data_list[3].to_csv('21_22_EPL_Team.csv')
team_merged_data_list[4].to_csv('22_23_EPL_Team.csv')