# 데이터 병합

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

# player데이터 병합

In [2]:
player_def_path = './L1_Player_Def/'
player_off_path = './L1_Player_Off/'
player_pass_path = './L1_Player_Pass/'
player_summary_path = './L1_Player_Summary/'

In [3]:
player_def_path_list = os.listdir(player_def_path)
player_off_path_list = os.listdir(player_off_path)
player_pass_path_list = os.listdir(player_pass_path)
player_summary_path_list = os.listdir(player_summary_path)

In [4]:
player_def_path_list.sort()
player_off_path_list.sort()
player_pass_path_list.sort()
player_summary_path_list.sort()

In [8]:
player_summary_path_list

['18_19_L1_Player_Stats.csv',
 '19_20_L1_Player_Stats.csv',
 '20_21_L1_Player_Stats.csv',
 '21_22_L1_Player_Stats.csv',
 '22_23_L1_Player_Stats.csv']

In [9]:
player_summary_data = []
for path in player_summary_path_list:
    player_summary_data.append(pd.read_csv(player_summary_path + path))
    
player_def_data = []
for path in player_def_path_list:
    player_def_data.append(pd.read_csv(player_def_path + path))

player_off_data = []
for path in player_off_path_list:
    player_off_data.append(pd.read_csv(player_off_path + path))

player_pass_data = []
for path in player_pass_path_list:
    player_pass_data.append(pd.read_csv(player_pass_path + path))

In [10]:
for data in player_summary_data:
    data.drop('Unnamed: 0', axis=1, inplace=True)
    
for data in player_def_data:
    data.drop('Unnamed: 0', axis=1, inplace=True)
    
for data in player_off_data:
    data.drop('Unnamed: 0', axis=1, inplace=True)
    
for data in player_pass_data:
    data.drop('Unnamed: 0', axis=1, inplace=True)

In [11]:
player_merged_data_list = []

for i in range(5):
    tmp1 = pd.merge(player_summary_data[i], player_def_data[i], on='Name', how='inner')
    print(tmp1.shape)
    tmp2 = pd.merge(tmp1, player_off_data[i], on='Name', how='inner')
    print(tmp2.shape)
    tmp3 = pd.merge(tmp2, player_pass_data[i], on='Name', how='inner')
    print(tmp3.shape)
    
    player_merged_data_list.append(tmp3)

(309, 23)
(313, 31)
(321, 36)
(301, 23)
(301, 31)
(301, 36)
(334, 23)
(334, 31)
(334, 36)
(310, 23)
(310, 31)
(310, 36)
(311, 23)
(311, 31)
(311, 36)

In [12]:
player_merged_data_list[0].columns

Index(['Name', 'Team', 'Age', 'Position', 'Apps', 'Mins', 'Goals_x',
       'Assists_x', 'Yellow', 'Red', 'SpG_x', 'PS', 'Aerialswon', 'MotM',
       'Rating', 'Tackles', 'Inter', 'Fouls', 'Offsides', 'Clear', 'Drb_x',
       'Blocks', 'OwnG', 'Goals_y', 'Assists_y', 'SpG_y', 'Drb_y', 'Fouled',
       'Off', 'Disp', 'UnsTch', 'AvgP', 'PSp', 'Crosses', 'LonB', 'ThrB'],
      dtype='object')

In [13]:
for player_merged_data in player_merged_data_list:
    player_merged_data.drop(['Goals_y', 'Assists_y', 'SpG_y'], axis=1, inplace=True)

In [15]:
for player_merged_data in player_merged_data_list:
    player_merged_data.columns = ['Name', 'Team', 'Age', 'Position', 'Apps', 'Mins', 'Goals',
       'Assists', 'Yellow', 'Red', 'SpG', 'PS', 'Aerialswon', 'MotM',
       'Rating', 'Tackles', 'Inter', 'Fouls', 'Offsides', 'Clear', 'Drb_def',
       'Blocks', 'OwnG', 'Drb_off', 'Fouled', 'Off', 'Disp', 'UnsTch', 'AvgP',
       'PSp', 'Crosses', 'LonB', 'ThrB']

In [16]:
player_merged_data_list[0].to_csv('18_19_L1_Player.csv')
player_merged_data_list[1].to_csv('19_20_L1_Player.csv')
player_merged_data_list[2].to_csv('20_21_L1_Player.csv')
player_merged_data_list[3].to_csv('21_22_L1_Player.csv')
player_merged_data_list[4].to_csv('22_23_L1_Player.csv')

# team 데이터 병합

In [17]:
team_def_path = './L1_Team_Def/'
team_off_path = './L1_Team_Off/'
team_table_path = './L1_Team_Table/'
team_summary_path = './L1_Team_Summary/'

In [18]:
team_def_path_list = os.listdir(team_def_path)
team_off_path_list = os.listdir(team_off_path)
team_table_path_list = os.listdir(team_table_path)
team_summary_path_list = os.listdir(team_summary_path)

In [19]:
team_def_path_list.sort()
team_off_path_list.sort()
team_table_path_list.sort()
team_summary_path_list.sort()

In [20]:
team_def_path_list

['18_19_L1_Team_Stats_defensive.csv',
 '19_20_L1_Team_Stats_defensive.csv',
 '20_21_L1_Team_Stats_defensive.csv',
 '21_22_L1_Team_Stats_defensive.csv',
 '22_23_L1_Team_Stats_defensive.csv']

In [21]:
team_summary_data = []
for path in team_summary_path_list:
    team_summary_data.append(pd.read_csv(team_summary_path + path))
    
team_def_data = []
for path in team_def_path_list:
    team_def_data.append(pd.read_csv(team_def_path + path))

team_off_data = []
for path in team_off_path_list:
    team_off_data.append(pd.read_csv(team_off_path + path))

team_table_data = []
for path in team_table_path_list:
    team_table_data.append(pd.read_csv(team_table_path + path))

In [22]:
for data in team_summary_data:
    data.drop('Unnamed: 0', axis=1, inplace=True)
    
for data in team_def_data:
    data.drop('Unnamed: 0', axis=1, inplace=True)
    
for data in team_off_data:
    data.drop('Unnamed: 0', axis=1, inplace=True)
    
for data in team_table_data:
    data.drop('Unnamed: 0', axis=1, inplace=True)

In [23]:
team_merged_data_list = []

for i in range(5):
    tmp1 = pd.merge(team_summary_data[i], team_def_data[i], on='Team', how='inner')
    print(tmp1.shape)
    tmp2 = pd.merge(tmp1, team_off_data[i], on='Team', how='inner')
    print(tmp2.shape)
    tmp3 = pd.merge(tmp2, team_table_data[i], on='Team', how='inner')
    print(tmp3.shape)
    
    team_merged_data_list.append(tmp3)

(20, 14)
(20, 18)
(20, 26)
(20, 14)
(20, 18)
(20, 26)
(20, 14)
(20, 18)
(20, 26)
(20, 14)
(20, 18)
(20, 26)
(20, 14)
(20, 18)
(20, 26)

In [25]:
team_summary_data[0]

,Team,Goals,Shotspg,Yellow,Red,Possession,Pass,AerialsWon,Rating
0,Paris Saint-Germain,105,14.8,64,4,60.4,88.9,11.0,7.05
1,Lyon,70,17.7,53,3,58.2,85.9,16.6,6.91
2,Lille,68,13.1,70,4,51.1,81.1,15.4,6.84
3,Montpellier,53,13.4,59,4,48.3,78.5,20.3,6.81
4,Saint-Etienne,59,13.1,59,7,30.6,81.1,16.6,6.78
5,Marseille,60,13.9,82,8,53.5,82.4,18.9,6.78
6,Nice,30,11.6,71,5,54.6,86.0,14.3,6.76
7,Nimes,57,13.7,68,5,46.7,74.4,19.2,6.75
8,Strasbourg,58,10.6,69,4,49.8,80.5,17.3,6.73
9,Rennes,55,12.4,66,3,50.7,81.2,17.1,6.73
10,Reims,39,10.7,67,2,45.1,75.9,17.9,6.72
11,Nantes,48,13.6,70,6,49.8,76.7,21.2,6.71
12,Angers,44,11.9,49,4,19.2,79.2,16.8,6.70
13,Bordeaux,34,11.2,75,5,22.3,80.3,18.1,6.67
14,Toulouse,35,11.4,73,5,48.7,77.8,19.7,6.62
15,Monaco,38,12.3,89,7,49.7,80.5,16.8,6.61
16,Caen,29,8.8,75,6,45.8,76.4,21.1,6.59
17,Dijon,31,12.0,71,7,48.3,78.2,19.2,6.59
18,Amiens,31,10.2,56,6,47.3,75.9,19.5,6.57
19,Guingamp,28,10.9,58,5,45.4,75.2,21.3,6.55

In [26]:
team_merged_data_list = []

for i in range(5):
    tmp1 = pd.merge(team_table_data[i], team_summary_data[i], on='Team', how='inner')
    print(tmp1.shape)
    tmp2 = pd.merge(tmp1, team_def_data[i], on='Team', how='inner')
    print(tmp2.shape)
    tmp3 = pd.merge(tmp2, team_off_data[i], on='Team', how='inner')
    print(tmp3.shape)
    
    team_merged_data_list.append(tmp3)

(20, 17)
(20, 22)
(20, 26)
(20, 17)
(20, 22)
(20, 26)
(20, 17)
(20, 22)
(20, 26)
(20, 17)
(20, 22)
(20, 26)
(20, 17)
(20, 22)
(20, 26)

In [27]:
team_merged_data_list[0].columns

Index(['Team', 'P', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts', 'Goals', 'Shotspg',
       'Yellow', 'Red', 'Possession', 'Pass', 'AerialsWon', 'Rating',
       'def_Shotspg', 'def_Tacklespg', 'def_Interceptionspg', 'def_Foulspg',
       'def_Offsidespg', 'of_Shotspg', 'of_ShotsOTpg', 'of_Dribblespg',
       'of_Fouledpg'],
      dtype='object')

In [28]:
team_merged_data_list[0].to_csv('18_19_L1_Team.csv')
team_merged_data_list[1].to_csv('19_20_L1_Team.csv')
team_merged_data_list[2].to_csv('20_21_L1_Team.csv')
team_merged_data_list[3].to_csv('21_22_L1_Team.csv')
team_merged_data_list[4].to_csv('22_23_L1_Team.csv')